th 
{
  vertical-align: bottom;
  text-align: center;
}

.vert
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

table td {
    vertical-align: middle;
    text-align: center;
}